.modal-box-profile{
    width: 400px;
}
.modal-profile-body{
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}
.modal-box{
    overflow: hidden;
}
.profile-btn {
    width: fit-content;
    min-width: 80px;
    height: 35px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .profile-btn:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
  }
  .profile-btn.fl:hover {
    background-color: rgb(4, 110, 167);
    box-shadow: 0px 0px 20px -18px;
  }
  .profile-btn:active {
    transform: scale(0.95);
  }
  .fl{
    background-color: rgb(2, 138, 211);
    color: #fff;
  }
  .profile-btn.rm{
    background-color: rgb(211, 2, 2);
    color: #fff;
  }
/*spinner*/
.loader {
    display: flex;
    align-items: center;
    position: relative;
    top: 60px;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(31, 31, 31, 0.5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .5s;
  }
  
  @keyframes scale-up4 {
    20% {
      background-color: #b5b5b5;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }
  @media only screen and (max-width: 410px) {
    .modal-box-profile{
      width: 340px;
    }
  }