.content::-webkit-scrollbar {
    width: 0.5rem;
}
.vlist::-webkit-scrollbar {
    width: 0.5rem;
}
.content{
    background-color: #fafaff85;
}
.content .Feed{
    font-size: 30px;
    margin: 10px 25px;
}
.content::-webkit-scrollbar-thumb {
    height:0.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: #a6a6a6;
}
main .content{
    /* scroll-margin-block-start: -100px; */
    padding: 0px 40px;
    height: calc(100% - 60px);
}
main .content .content-inner{
    max-width: 1200px;
    /* margin: 0 auto; */
}
main .content .content-inner .body{
    width: 510px;
    height: 510px;
    margin: auto;
}
main .content .content-inner .footer{
    width: 100%;
    padding: 10px;
}
main .content .content-inner .footer .name{
    font-size: 20px;
}
main .content .feeds-action aside{
    position: sticky;
    top: 76px;
    width: 300px;
    margin: 50px auto;
}
main .content .feeds-action aside .techtribe{
    background-size: contain !important;
}
 
.spinner{
 display: flex;
 justify-content: center;
 align-items: center;
}
.loader {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px !important;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(31, 31, 31, 0.5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .5s;
  }

@media only screen and (max-width: 1200px) {
    .feeds-action{
        display: none;
    }
}
@media only screen and (max-width: 610px){
    .feed-top{
        margin: 0;
        width: 100% !important;
    }
    .feed-top .m-5{
        margin: 0;
    }
}
