.content::-webkit-scrollbar {
    width: 0.5rem;
}
.content{
    background-color: #fafaff85;
}
.content .Feed{
    font-size: 30px;
    margin: 10px 25px;
}
.content::-webkit-scrollbar-thumb {
    height:0.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: #a6a6a6;
}
main .content{
    /* scroll-margin-block-start: -100px; */
    padding: 0px 40px;
    height: calc(100% - 60px);
}
main .content .content-inner{
    max-width: 1200px;
    /* margin: 0 auto; */
}
main .content .content-inner .body{
    width: 510px;
    height: 510px;
    margin: auto;
}
main .content .content-inner .footer{
    width: 100%;
    padding: 10px;
}
main .content .content-inner .footer .name{
    font-size: 20px;
}
main .content .feeds-action aside{
    position: sticky;
    top: 76px;
    width: 300px;
    margin: auto;
}
main .content .feeds-action aside .techtribe{
    background-size: contain !important;
}
 
.spinner{
 display: flex;
 justify-content: center;
 align-items: center;
}
