section::-webkit-scrollbar {
    width: 0.5rem;
}
section::-webkit-scrollbar-thumb {
    height:0.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: #a6a6a6;
}
section{
    overflow: auto;
    height: calc(100% - 60px);
}
.content-profile{
    background-color: #fafaff85;
}
.profile{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    
}
.profile-header{
    display: flex;
    padding: 30px 10px 50px 10px;
    border-bottom: 1px solid rgb(215, 215, 215);
}
.profile-header .profile-img{
    width: 200px;
    height: calc(148px + 2px);
}
.profile-header .profile-img > .profile-img-section{
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.profile-header .profile-img > .profile-img-section > .change-img{
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%;
}
.profile-header .profile-img img{
    border: 0;
    font: inherit;
    font-size: 100%;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: baseline;
    width: 100%;
    object-fit: cover;
}
.profile-header > .profile-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5px 70px;
}
.profile-header > .profile-section >.profile-actions{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.profile-header > .profile-section >.profile-actions>.profile-username p{
    font-size: 25px;
}
.profile-header > .profile-section >.profile-actions>.profile-edit a{
    padding: 7px 17px;
    background-color: gray;
    color: #fff;
    border-radius: 10px;
} 
.profile-header > .profile-section >.profile-actions>.profile-logout button{
    padding: 6px 17px;
    background-color: rgb(211, 2, 2);
    color: #fff;
    border-radius: 10px;
}
.profile-header > .profile-section >.profile-actions> .profile-edit> div>.follow{
    padding: 5px 11px;
    background-color: rgb(2, 138, 211);
    color: #fff;
    border-radius: 6px;
}
.profile-header > .profile-section > .profile-activity{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}
.profile-header > .profile-section > .profile-activity > .profile-activity-main{
    display: flex;
    column-gap: 20px;
    padding: 5px 0;
    font-size: 18px;
}
.profile-header > .profile-section > .profile-activity > .profile-activity-bio{
    font-size: 17px;
    padding: 10px 0;
}
.profile-body > .profile-body-header{
    display: flex;
    justify-content: center;
}
.profile-body > .profile-body-header button{
    border-top: 1px solid rgb(85, 85, 85);
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
.profile-body > .profile-body-header button svg{
    color: black;
    width: 17px;
    height: 17px;
}
.profile-body > .profile-body-content{
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .profile{
        padding: 20px 20px;
    }
    .profile-header{
        padding: 20px 10px 30px 10px;
    }
    .profile-header .profile-img{
        width: 110px;
        height: 110px;
    }
    .profile-pic{
        width: 110px !important;
        height: 110px !important;
    }
    .profile-header > .profile-section{
        padding: 5px 25px;
    }
}
@media only screen and (max-width: 767px) {
    .profile-header > .profile-section{
        padding: 5px 50px;
    }
}

@media only screen and (max-width: 593px) {
    .profile-header > .profile-section{
        padding: 5px 20px;
    }
    .profile-header > .profile-section >.profile-actions>.profile-username p {
        font-size: 20px;
    }
    .profile-header > .profile-section > .profile-activity > .profile-activity-main {
        font-size: 14px;
        column-gap: 5px;
    }
    .profile-actions > .profile-edit a, 
    .profile-header > .profile-section >.profile-actions> .profile-edit> div>.follow{
        padding: 5px 10px;
        font-size: 12px;
    }
    .profile-header .profile-img{
        width: 70px;
        height: 70px;
    }
    .profile-pic{
        width: 70px !important;
        height: 70px !important;
    }
}

@media only screen and (max-width: 525px) {
    .chat-btn{
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .profile-actions > .profile-edit a,
    .profile-header > .profile-section >.profile-actions> .profile-edit> div>.follow{
        padding: 4px 7px;
        font-size: 10px;
    }
    .profile-header > .profile-section >.profile-actions{
        column-gap: 10px;
    }
    .profile-header {
        padding: 10px 3px 20px 3px;
    }
}

@media only screen and (max-width: 395px) {
    .profile-header > .profile-section{
        padding: 5px 15px;
    }
    .profile-header > .profile-section >.profile-actions>.profile-username p {
        font-size: 17px;
    }
    .profile-header > .profile-section > .profile-activity > .profile-activity-main {
        font-size: 12px;
        column-gap: 3px;
    }
}

@media only screen and (max-width: 355px) {
    .profile-actions > .profile-edit a,
    .profile-header > .profile-section >.profile-actions> .profile-edit> div>.follow{
        padding: 2px 4px;
        font-size: 8px;
    }
}